nav {
	height: fit-content;
}

.nav-item {
	aspect-ratio: 1/0.5;
	justify-content: center;
}

.container {
	margin: auto;
	margin-top: 10%;
}

.round {
	border-radius: 20px;
}

.success {
	color: green;
}

.fail {
	color: red;
}

span {
	font-size: x-small;
}

.clear {
	clear: both;
	height: 150px;
}