nav {
	height: fit-content;
}

.nav-item {
	aspect-ratio: 1/0.5;
	justify-content: center;
}

#root {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("./assets/pictures/homebgp.png");
	background-repeat: space;
	background-size: 300px 300px;
}

/*<a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Ui icons created by Iconpro86 - Flaticon</a>*/

.container {
	margin: auto;
	margin-top: 5%;
}

.regdiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.round {
	border-radius: 20px;
}

.success {
	color: green;
}

.fail {
	color: red;
}

span {
	font-size: x-small;
}

.clear {
	clear: both;
	height: 150px;
}

.icon {
	width: 50%;
}

@media (min-width: 501px) {
	.nav-item {
		margin-right: 2%;
		margin-left: 2%;
	}
}

@media (min-width: 768px) {
	.nav-item {
		margin-right: 5%;
		margin-left: 5%;
	}
}

.center {
	text-align: center;
}