nav {
	height: fit-content;
}

.nav-item {
	aspect-ratio: 1/0.5;
	justify-content: center;
}

.container {
	margin: auto;
	margin-top: 5%;
}

.round {
	border-radius: 20px;
}

.success {
	color: green;
}

.fail {
	color: red;
}

span {
	font-size: x-small;
}

.clear {
	clear: both;
	height: 150px;
}

.icon {
	width: 50%;
}

@media (min-width: 501px) {
	.nav-item {
		margin-right: 2%;
		margin-left: 2%;
	}
}

@media (min-width: 768px) {
	.nav-item {
		margin-right: 5%;
		margin-left: 5%;
	}
}

.center {
	text-align: center;
}