input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: inline-block;
	border-radius: 100px;
	position: relative;
}

label.switch:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 45px;
	transition: 0.3s;
}

input[type=checkbox]:checked + label.switch {
	background: #bada55;
}

input[type=checkbox]:checked + label.switch:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label.switch:active:after {
	width: 130px;
}

p.span {
	display: inline-block;
	margin-bottom: 0;
	margin-right: 10px;
    font-size: 40px;
    font-weight: bold;
    unicode-bidi: isolate;
}