input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: inline-block;
	border-radius: 100px;
	position: absolute;
	margin-top: 10px;
}

label.switch:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 45px;
	transition: 0.2s;
}

input[type=checkbox]:checked+label.switch {
	background: #007bff;
}

input[type=checkbox]:checked+label.switch:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label.switch:active:after {
	width: 50px;
}

p.span {
	display: inline-block;
	margin-right: 10px;
	font-size: 40px;
	font-weight: bold;
	unicode-bidi: isolate;
}

p.span:last-of-type {
	margin-left: 110px;
}

@media only screen and (max-width: 768px) {
	label.switch {
		width: 50px;
		height: 25px;
		border-radius: 50px;
		margin-top: 5px;
	}

	label.switch:after {
		content: '';
		position: absolute;
		top: 1.25px;
		left: 1.25px;
		width: 22.5px;
		height: 22.5px;
		background: #fff;
		border-radius: 22.5px;
		transition: 0.2s;
	}

	input[type=checkbox]:checked+label.switch:after {
		left: calc(100% - 2.5px);
		transform: translateX(-100%);
	}

	label.switch:active:after {
		width: 25px;
	}

	p.span {
		display: inline-block;
		margin-right: 5px;
		font-size: 20px;
		font-weight: bold;
		unicode-bidi: isolate;
	}

	p.span:last-of-type {
		margin-left: 55px;
	}
}